.tag-profile,
.tag-image,
.tag-video {
    cursor: pointer;
    /* border: 1px solid #e5484d; */
    border-radius: 3px;
    /* color: #F56C6C; */
    padding: 0 6px;

    &:hover {
        background-color: antiquewhite;

        .tag-icon {
            visibility: visible;
        }

    }
}

.tag-image {
    &:hover {
        background-color: #67C23A;
    }
}

.tag-video {
    &:hover {
        background-color: #409EFF;
    }
}

.tag-icon {
    margin-left: 10px;
    visibility: hidden;
}